.room-label 
{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    fill: #00ffff;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    user-select: none;
}
                
* {
margin: 0;
padding: 0;
}
body {
background-color: #01171b;
}
svg path{
fill: #00394f;
stroke: #eee;
stroke-width: .25;
}
svg path:hover{
fill: #006284;
transition: 0.6s;
cursor: pointer;
}


