html,
body {
  margin: 0;
  height: 100%;
  background-color: #efe7d5;
}

.row {
  display: flex;
  height: 100vh;
}

.column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrcode{
  height: 75%;
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#classroomImage{
  height: 82.67%;
  width: 95%;
}