.room-label {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    fill: #00ffff;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #01171b;
}
svg path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover{
    fill: #00ff22;    
    transition: 0.6s;
    cursor: pointer;
}
#timer {
        margin: 32px 0 16px 0;
        padding: 10px 24px;
        background: rgba(0, 61, 77, 0.85);
        border-radius: 20px;
        font-size: 1.5em;
        font-weight: bold;
        color: #00ffff;
        box-shadow: 0 2px 12px 0 #00394f44;
        letter-spacing: 1px;
}


#attempts {
    margin: 32px 0 16px 0;
    padding: 10px 24px;
    background: rgba(0, 61, 77, 0.85);
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #00ffff;
    box-shadow: 0 2px 12px 0 #00394f44;
    letter-spacing: 1px;
}

svg path:not(.classroom) { pointer-events: none; }
