.room-label {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    fill: #ff0000;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #50b2c14b;
}

.game{
    position: relative;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.9);
}

.map{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    opacity: 0.6;
    transition: 
        transform 0.3s ease,
        opacity 0.3s ease;
    backdrop-filter: blur(4px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    border-radius: 8px;
    transform-origin: bottom right;
}

.map:hover {
    transform: scale(2);
    opacity: 1;
}

.map svg {
    width: 100%;
    height: auto;
}

#timer {
    font-weight: bold;
    font-size: 1.5em;
    color: #00ffff;
    position: absolute;
    margin: 32px 0 16px 0;
    padding: 10px 24px;
    background: rgba(0, 61, 77, 0.85);
    box-shadow: 0 2px 12px 0 #00394f44;
    border-radius: 20px;
    letter-spacing: 1px;
    top: 20px;
    right: 20px;
    z-index: 10;
}


#attempts {
    font-weight: bold;
    font-size: 1.5em;
    color: #00ffff;
    position: absolute;
    margin: 32px 0 16px 0;
    padding: 10px 24px;
    background: rgba(0, 61, 77, 0.85);
    box-shadow: 0 2px 12px 0 #00394f44;
    border-radius: 20px;
    letter-spacing: 1px;   
    top: 20px;
    left: 20px;
    z-index: 10;
}

svg path:not(.classroom) { pointer-events: none; }


