<!-- Start page -->
<!DOCTYPE html>
<html>
<head>
    <title>ScKr Geoguessr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
    <h1>ScKr GeoGuessr</h1>
    <p>Najdite pravo učilnico glede na prikazano sliko!</p>

    <strong>Katere učilnice so vključene:</strong>
        <ul>
            <li>Vse učilnice ki so označene z številkami</li>
            <li>Knjižnica</li>
            <li>Fab lab</li>
        </ul>

    <p>
        Zelo pomembno je čim manjše število poskusov. <br>Šteje se tudi skupni čas posamezne igre. <br>
        <strong>Vso srečo :]</strong>
    </p>
    <a href="/game">
        <button>Začni igro</button>
    </a>
</body>
</html>
